In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("merged_Topglove.csv")
stock = pd.read_csv("stock Topglove 7113.KL.csv")

In [6]:
df

     Unnamed: 0        Date                                               text
0             0  2018-12-26   Positive thinking n go forward..  Don't let o...
1             1  2018-12-27   Awesome......!!  Down Jones almost +1100point...
2             2  2018-12-28   ChefSaham Top Glove is a buy brother  keong k...
3             3  2018-12-29                                   wait next year.
4             4  2018-12-30   Top Glove mulls Turkey factory http://www.the...
..          ...         ...                                                ...
990         990  2021-12-29   Post removed.Why?  hahahahaha......scary  <br...
991         991  2021-12-30   Omicron will soon replace Delta as dominant g...
992         992  2021-12-31   You mentioned pvt fund kah. Uncle or Aunty pu...
993         993  2022-09-15   Becos orders been fully booked up for the nex...
994         994  2022-09-21   EPF will collect more for higher dividend nea...

[995 rows x 3 columns]

In [7]:
stock

           Date      Open      High       Low     Close  Adj Close    Volume
0    2019-01-02  1.873333  1.893333  1.853333  1.860000   1.602780   4561800
1    2019-01-03  1.866666  1.883333  1.850000  1.850000   1.594163   6920400
2    2019-01-04  1.856666  1.860000  1.836666  1.846666   1.591290   5903400
3    2019-01-07  1.853333  1.860000  1.750000  1.766666   1.522354  40581900
4    2019-01-08  1.766666  1.766666  1.670000  1.676666   1.444800  67871700
..          ...       ...       ...       ...       ...        ...       ...
732  2021-12-24  2.160000  2.220000  2.130000  2.190000   2.190000  12155800
733  2021-12-27  2.250000  2.450000  2.210000  2.360000   2.360000  38963400
734  2021-12-28  2.370000  2.410000  2.300000  2.370000   2.370000  18604700
735  2021-12-29  2.380000  2.480000  2.360000  2.410000   2.410000  22588800
736  2021-12-30  2.420000  2.450000  2.380000  2.440000   2.440000  20901200

[737 rows x 7 columns]

In [8]:
merge_df = pd.merge(stock, df, on='Date', how='left')
merge_df

,Date,Open,High,Low,Close,Adj Close,Volume,Unnamed: 0,text
0,2019-01-02,1.873333,1.893333,1.853333,1.860000,1.602780,4561800,7.0,first day opening bell already keong kan liao...
1,2019-01-03,1.866666,1.883333,1.850000,1.850000,1.594163,6920400,8.0,when is the dividend payout this year? ex da...
2,2019-01-04,1.856666,1.860000,1.836666,1.846666,1.591290,5903400,NaN,NaN
3,2019-01-07,1.853333,1.860000,1.750000,1.766666,1.522354,40581900,10.0,Kenanga the best IB? not enof low. drop so ...
4,2019-01-08,1.766666,1.766666,1.670000,1.676666,1.444800,67871700,11.0,"Hopefully technical rebound tomorrow, morning..."
...,...,...,...,...,...,...,...,...,...
732,2021-12-24,2.160000,2.220000,2.130000,2.190000,2.190000,12155800,985.0,Good morning all who will have the upper hand...
733,2021-12-27,2.250000,2.450000,2.210000,2.360000,2.360000,38963400,988.0,"@UlarSawi, Klci sudah bocor sebab glove coun..."
734,2021-12-28,2.370000,2.410000,2.300000,2.370000,2.370000,18604700,989.0,Lets go Topglove ! Green d Gloves industry ...
735,2021-12-29,2.380000,2.480000,2.360000,2.410000,2.410000,22588800,990.0,Post removed.Why? hahahahaha......scary <br...
736,2021-12-30,2.420000,2.450000,2.380000,2.440000,2.440000,20901200,991.0,Omicron will soon replace Delta as dominant g...

In [9]:
merge_df['Difference'] = ((merge_df['Close'] - merge_df['Open'])/merge_df['Open'])*100

In [10]:
def labelling(data):
    if data > 0:
        label = 'Positive'
    elif data < 0:
        label = 'Negative'
    elif data == 0:
        label = 'Neutral'
    else:
        label = 'NA'
    return label
merge_df['label'] = merge_df['Difference'].apply(lambda x: labelling(x))

In [11]:
merge_df[merge_df['label']== 'NA']

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, Unnamed: 0, text, Difference, label]
Index: []

In [12]:
# merge_df.to_csv("final_Topglove_withLabel.csv")

In [13]:
merge_df = merge_df.drop(['Unnamed: 0'], axis=1)

In [14]:
merge_df[merge_df['text'].isna()]

,Date,Open,High,Low,Close,Adj Close,Volume,text,Difference,label
2,2019-01-04,1.856666,1.860000,1.836666,1.846666,1.591290,5903400,NaN,-0.538600,Negative
24,2019-02-11,1.630000,1.633333,1.613333,1.626666,1.415788,19455600,NaN,-0.204540,Negative
28,2019-02-15,1.636666,1.646666,1.633333,1.643333,1.430294,13650000,NaN,0.407353,Positive
70,2019-04-16,1.510000,1.523333,1.490000,1.500000,1.305542,13844700,NaN,-0.662252,Negative
78,2019-04-26,1.606666,1.610000,1.590000,1.593333,1.386776,2386200,NaN,-0.829855,Negative
87,2019-05-10,1.583333,1.586666,1.566666,1.583333,1.378073,7879800,NaN,0.000000,Neutral
100,2019-05-31,1.670000,1.693333,1.663333,1.683333,1.465109,12633600,NaN,0.798383,Positive
101,2019-06-03,1.683333,1.683333,1.663333,1.666666,1.450602,11128800,NaN,-0.990119,Negative
102,2019-06-04,1.666666,1.673333,1.663333,1.666666,1.450602,8990700,NaN,0.000000,Neutral
125,2019-07-05,1.620000,1.623333,1.603333,1.613333,1.414142,14906700,NaN,-0.411543,Negative
140,2019-07-26,1.543333,1.546666,1.536666,1.540000,1.349864,6794100,NaN,-0.215961,Negative
141,2019-07-29,1.540000,1.543333,1.536666,1.543333,1.352785,7115400,NaN,0.216429,Positive
149,2019-08-09,1.523333,1.523333,1.503333,1.506666,1.320645,5154300,NaN,-1.094114,Negative
150,2019-08-13,1.506666,1.510000,1.496666,1.496666,1.311880,6582600,NaN,-0.663717,Negative
151,2019-08-14,1.503333,1.510000,1.496666,1.500000,1.314802,9572400,NaN,-0.221707,Negative
154,2019-08-19,1.493333,1.516666,1.493333,1.506666,1.320645,4421400,NaN,0.892835,Positive
155,2019-08-20,1.506666,1.526666,1.493333,1.500000,1.314802,5585100,NaN,-0.442434,Negative
156,2019-08-21,1.500000,1.513333,1.493333,1.500000,1.314802,4892400,NaN,0.000000,Neutral
157,2019-08-22,1.500000,1.536666,1.500000,1.526666,1.338176,7006800,NaN,1.777733,Positive
162,2019-08-29,1.550000,1.560000,1.536666,1.556666,1.364472,6347400,NaN,0.430065,Positive
163,2019-08-30,1.556666,1.583333,1.556666,1.583333,1.387846,13707000,NaN,1.713084,Positive
169,2019-09-11,1.583333,1.590000,1.573333,1.583333,1.387846,19633200,NaN,0.000000,Neutral
171,2019-09-13,1.593333,1.596666,1.583333,1.596666,1.399533,10076400,NaN,0.209184,Positive
178,2019-09-25,1.576666,1.580000,1.570000,1.576666,1.382002,14217600,NaN,0.000000,Neutral
197,2019-10-22,1.453333,1.456666,1.443333,1.450000,1.270975,5494500,NaN,-0.229335,Negative
201,2019-10-29,1.466666,1.466666,1.443333,1.456666,1.276818,6871200,NaN,-0.681818,Negative
202,2019-10-30,1.466666,1.470000,1.460000,1.466666,1.285584,9210000,NaN,0.000000,Neutral
203,2019-10-31,1.466666,1.476666,1.450000,1.450000,1.270975,4019700,NaN,-1.136319,Negative
218,2019-11-21,1.533333,1.533333,1.510000,1.533333,1.344019,5058000,NaN,0.000000,Neutral
219,2019-11-22,1.516666,1.540000,1.516666,1.533333,1.344019,6965100,NaN,1.098924,Positive
221,2019-11-26,1.530000,1.533333,1.513333,1.530000,1.341098,25473900,NaN,0.000000,Neutral
227,2019-12-04,1.470000,1.470000,1.456666,1.456666,1.276818,5725200,NaN,-0.907075,Negative
228,2019-12-05,1.460000,1.480000,1.460000,1.466666,1.285584,2148300,NaN,0.456575,Positive
235,2019-12-16,1.470000,1.486666,1.453333,1.483333,1.312093,6754800,NaN,0.907007,Positive
241,2019-12-24,1.586666,1.600000,1.573333,1.596666,1.412343,3387300,NaN,0.630252,Positive
248,2020-01-06,1.556666,1.556666,1.533333,1.553333,1.374013,2670600,NaN,-0.214111,Negative
249,2020-01-07,1.550000,1.566666,1.540000,1.550000,1.371064,10408200,NaN,0.000000,Neutral
253,2020-01-13,1.540000,1.556666,1.530000,1.546666,1.368115,4754700,NaN,0.432857,Positive
257,2020-01-17,1.566666,1.586666,1.566666,1.586666,1.403497,31247100,NaN,1.276596,Positive
276,2020-02-14,1.950000,1.960000,1.946666,1.950000,1.724887,24370200,NaN,0.000000,Neutral

In [15]:
merge_df['label'].value_counts()

Negative    393
Positive    291
Neutral      53
Name: label, dtype: int64

In [16]:
merge_df.loc[(merge_df['text'].isna()) & (merge_df['label']=='Positive'),'text']="happy high up positive buy buy great"

In [17]:
merge_df

,Date,Open,High,Low,Close,Adj Close,Volume,text,Difference,label
0,2019-01-02,1.873333,1.893333,1.853333,1.860000,1.602780,4561800,first day opening bell already keong kan liao...,-0.711726,Negative
1,2019-01-03,1.866666,1.883333,1.850000,1.850000,1.594163,6920400,when is the dividend payout this year? ex da...,-0.892822,Negative
2,2019-01-04,1.856666,1.860000,1.836666,1.846666,1.591290,5903400,NaN,-0.538600,Negative
3,2019-01-07,1.853333,1.860000,1.750000,1.766666,1.522354,40581900,Kenanga the best IB? not enof low. drop so ...,-4.676278,Negative
4,2019-01-08,1.766666,1.766666,1.670000,1.676666,1.444800,67871700,"Hopefully technical rebound tomorrow, morning...",-5.094342,Negative
...,...,...,...,...,...,...,...,...,...,...
732,2021-12-24,2.160000,2.220000,2.130000,2.190000,2.190000,12155800,Good morning all who will have the upper hand...,1.388889,Positive
733,2021-12-27,2.250000,2.450000,2.210000,2.360000,2.360000,38963400,"@UlarSawi, Klci sudah bocor sebab glove coun...",4.888889,Positive
734,2021-12-28,2.370000,2.410000,2.300000,2.370000,2.370000,18604700,Lets go Topglove ! Green d Gloves industry ...,0.000000,Neutral
735,2021-12-29,2.380000,2.480000,2.360000,2.410000,2.410000,22588800,Post removed.Why? hahahahaha......scary <br...,1.260504,Positive
736,2021-12-30,2.420000,2.450000,2.380000,2.440000,2.440000,20901200,Omicron will soon replace Delta as dominant g...,0.826446,Positive

In [18]:
merge_df.loc[(merge_df['text'].isna()) & (merge_df['label']=='Negative'),'text']="bad drop recession sell sad loss"

In [19]:
merge_df.loc[(merge_df['text'].isna()) & (merge_df['label']=='Neutral'),'text']="news today was sunny government"

In [20]:
merge_df[merge_df['text'].isna()]

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, text, Difference, label]
Index: []

In [21]:
merge_df.to_csv("final_Topglove_withLabel.csv")